<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">{{ task?.assignedUser | uppercase }} : {{ task?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="taskForm" (ngSubmit)="taskUpdate()">
    <ion-item class="ion-margin">
      <ion-label position="stacked">Change Task Name</ion-label>
      <ion-input type="text" placeholder="{{ task?.name }}" formControlName="name"></ion-input>
    </ion-item>

    <!-- <ion-item class="ion-margin">
      <ion-label position="stacked">Change Assigned User</ion-label>
      <ion-input type="text" placeholder="{{ task?.assignedUser }}" formControlName="assignedUser"></ion-input>
    </ion-item> -->
    <ion-item class="ion-margin">
      <ion-label position="stacked">Change Assigned User</ion-label>
      <ion-select formControlName="assignedUser" placeholder='{{ task?.assignedUser }}'>
        <ion-select-option *ngFor="let item of user" value="{{ item }}">{{ item }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label position="stacked">Status</ion-label>
      <ion-select formControlName="status" placeholder="Choose the task status">
        <ion-select-option value="to start">To Start</ion-select-option>
        <ion-select-option value="in progress">In Progress</ion-select-option>
        <ion-select-option value="done">Done</ion-select-option>
      </ion-select>
    </ion-item>
  </form>

  <ion-button color='secondary' expand="full" class="ion-margin" (click)="taskUpdate()" shape="round">Update Task</ion-button>
  <ion-button color='secondary' expand="full" class="ion-margin" [routerLink]="'/task-list'" shape="round">Task List</ion-button>
</ion-content>
