ion-content {
    --ion-background-color: #f4f4f4; /* Couleur de fond */
  }
  
  ion-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .form-card {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  ion-label {
    font-weight: bold;
  }
  
  ion-button {
    --ion-background-color: #007bff; /* Couleur de fond des boutons */
    --ion-color: #fff; /* Couleur du texte des boutons */
  }

  ion-input {
    margin-top: 1em;
  }
  