<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Task</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
    <div class="form-card">
      <h2>NOUVEAU FORMULAIRE</h2>
      <form [formGroup]="taskForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" type="text" formControlName="name">
        </div>
        <div class="form-group">
          <label for="assignedUser">Assigned To</label>
          <textarea id="assignedUser" type="text" formControlName="assignedUser">
          </textarea>
        </div>
        <div class="form-group">
          <label for="deadline">Deadline</label>
          <input id="deadline" type="date" formControlName="deadline">
        </div>
        <ion-list>
          <label for="status">Select Status</label>
          <ion-item>
            <ion-select ion-label="Select Status" value="Choose">
              <ion-select-option value="done">Done</ion-select-option>
              <ion-select-option value="in progress">In progress</ion-select-option>
              <ion-select-option value="to start">Not yet started</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div class="action-buttons">
          <button type="submit" (click)="onSubmitForm()">Enregistrer</button>
        </div>      
      </form>
  </div>
  </section>
  <ion-button class="ion-margin center" [routerLink]="'/task-list'">Task List</ion-button>
</ion-content>
