<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Task</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
    <h2>Task title</h2>
    <input type="text">
    <h2>Assigned to</h2>
    <input type="text">
    <h2>Deadline</h2>
    <input type="text"><br>
    <h2>Status</h2>
    <input type="text"><br>
    <ion-button class="ion-margin center">Add Task</ion-button>
  </section>
  <ion-button class="ion-margin center" [routerLink]="'/task-list'">Task List</ion-button>
</ion-content>
