@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

  
#container a {
    text-decoration: none;
}
  
.done {
    background-color: #E9EC6B;
    font-size: 2rem;
}
  
.inProgress {
    background-color: #EFBE7D;
    font-size: 2rem;
}
  
.pastEndDate {
    background-color: #FF6D6A;
    font-size: 2rem;
}
  
.toStart {
    background-color: #8BD3E6;
    font-size: 2rem;
}
  
ion-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
  

ion-list a {
    text-decoration: none;
    color: inherit;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem; 
    margin: 5%; 
}
  
ion-button {
    margin-top: 10px;
    width: 50%;


}
.buttonCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
ion-icon {
    font-size: 24px;
    margin-right: 8px;
    vertical-align: middle;
}
  
/* Style pour le bouton "Create Task" */
ion-button[expand="full"][routerLink="'/add-task/'"] {
    background-color: #B1A2CA;
    color: white;
}
  
/* Style pour le bouton "HOME" */
ion-button[expand="full"][routerLink="'/home/'"] {
    background-color: #28a745;
    color: white;
}

.custom-button {
    // background-color: #B1A2CA;
    color: white;
}

.custom-list {
    max-height: 75%;
}

.condense {
    font-size: large;
}