#container {
    text-align: center;
   
  
    position: absolute;
    left: 0;
    right: 0;
    // top: 20%;
    // transform: translateY(-50%);
  }
  
  
  
  #container p {
    font-size: 32px;
    line-height: 40px;
  
    // color: #8c8c8c;
  
    margin: 0;
    margin-bottom: 10px;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .done {
    background-color: green;
    font-size: 32px;
  }
  
  .inProgress {
    background-color: orange;
    font-size: 32px;
  }
  
  .pastEndDate {
    background-color: red;
    font-size: 32px;
  }
  
  .toStart {
    background-color: gray;
    font-size: 32px;
  }
  
  ion-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  ion-list {
    margin-top: 20px;
  }

  ion-list a {
    text-decoration: none;
    color: inherit;
  }
  
  ion-item {
    border-bottom: 1px solid #ccc;
  }
  
  ion-button {
    margin-top: 10px;
  }
  
  ion-icon {
    font-size: 24px;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  /* Style pour le bouton "Create Task" */
  ion-button[expand="full"][routerLink="'/add-task/'"] {
    background-color: #007bff;
    color: white;
  }
  
  /* Style pour le bouton "HOME" */
  ion-button[expand="full"][routerLink="'/home/'"] {
    background-color: #28a745;
    color: white;
  }

  
