<ion-content [fullscreen]="true">
  <!-- <ion-item>
    <ion-input aria-label="search for movie" [clearInput]="true" type="text" [(ngModel)]="inputValue"
               (keyup.enter)="refreshMovieList($event)"></ion-input>
  </ion-item> -->
  <ion-searchbar [(ngModel)]="inputValue" (keyup.enter)="refreshMovieList($event)" search-icon="search-circle" animated="true" placeholder="Movie"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let title of movies">
      <ion-label (click)="selectMovie(title)">{{title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button color='dark' fill="outline" expand="full" [routerLink]="'/home'" class="custom-button">
        <ion-icon name="home"></ion-icon> Home
      </ion-button>
  </ion-toolbar>
</ion-footer>
