<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">movie-list</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-input aria-label="search for movie" [clearInput]="true" type="text" [(ngModel)]="inputValue"
               (keyup.enter)="refreshMovieList($event)"></ion-input>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let title of movies">
      <ion-label (click)="getMovieDetail(title)">{{title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
