<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TO DO LIST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">TO DO LIST</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container"> <!-- ngFor à faire -->
    <ul>
      <!-- <li (click)="getTaskdetails(item.id)" *ngFor="let item of showedList">{{item.name}}</li> -->
      <li *ngFor="let item of showedList"><a [routerLink]="'/modify-task/' + item.id">{{item.name}}</a></li>
    </ul>
    <ion-button [routerLink]="'/add-task/'">create Task</ion-button> <!-- renvoie sur la page addTask -->
  </div>
</ion-content>
