<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IONIC PROJECT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">TO DO LIST</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
      <ion-button [routerLink]="'/task-list/'">To Do List</ion-button><br>
      <ion-button [routerLink]="'/home/'">the other project</ion-button>
  </div>
</ion-content>
